.navbar {
    margin-bottom: 0;
    border-radius: 0;
    font-size: 20px;
    letter-spacing: 5px;
}
.bg-1 {
    margin: 0;
    background-color: #3182bd;
    color: #ffffff;
}
.bg-2 {
    margin: 0;
    background-color: #696969;
    color: #ffffff;
}
.bg-3 {
    margin: 0;
    background-color:  #333333;
    color: #ffffff;
}
.bg-4 {
    margin: 0;
    background-color: #696969;
    color: #ffffff;
}

.pic{
    width: 300px;
    height: 330px;
}

.picWider{
    width: 310px;
    height: 330px;
}

.dropdown-menu{
    padding-bottom: 0 !important;
}

body {
    font: 20px "courier";
    color: #A9A9A9;
    background-color: #222222;
}
footer {
    background-color: #3182bd;
    padding: 10px;
    color: #ffffff;
}
title{
    background-color:LightGray;
    font-size: 15px;
}
.enjoy{
    font-size:150%;
    text-decoration: underline;
}
.name{
    font-size: 45px;
}

.smallBotSpace{
    margin-bottom: 5px;
}
.TBspace{
    margin: 15px 0 15px 0;
}
.bottom_space{
    margin-bottom: 30px;
}

.fam{
    display: inline;
    float: right;
    margin-top: 1%;
    padding: 0;
    border-bottom: 0;
}
a:hover{
    text-decoration: none;
    color: white;
}
a{
    color: #9d9d9d;
}
.dropdown-menu{
    background-color: #101010;
}
.dropdown-menu a{
    font-size: 16px;
    padding: 5px;
}
.hr{
    margin-bottom: 0;
    border-color: #222222;
}

.topSpace{
    margin-top: 10px;
}

#contentWord{
    font-style: italic;
    color: white;
}

#hiddenContent{
    display: none;
}

#restartGame{
    display: none;
}