.main-container {
    font-family: 'Circular Std', sans-serif;             
}

.background {
    background-color: #12211b;
}
.navbar {
    background-color: #262626;
    margin-bottom: 0;
    border-radius: 0;
    font-size: 20pt;
    letter-spacing: 5px;
}

.navText {
    color: #cccccc !important;
    font-size: 15pt;
}

.header-content {
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.header {
    background-color: #1a2e26;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.header-title {
    font-size: 25pt;
    max-width: 500px;
    font-weight: 900;
    font-family: 'CircularStd', sans-serif !important;
    line-height: 1.5;
}

.austin {
    color: #8dbfab
}

.summitStats {
        color: #bfbfbf !important;
        font-weight: 700;
}

.summitStats:hover {
    color: #ff6524 !important;
}

.paylocity {
    color: #bfbfbf !important;
    font-weight: 700;
}

.paylocity:hover {
color: white !important;
}

.summitStatsNav:hover {
    color: #ff6524 !important;
}

.aboutMe-content {
    padding-top: 10px;
    font-weight: 300;
    max-width: 700px;
    line-height: 1.5;
}

.aboutMe-email {
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
    width: fit-content;
}

a:hover {
    color: white !important
}

.aboutMe-email-text {
    color: #cccccc !important;
    font-weight: 500;
}

.profilePic {
    border-radius: 25px;
    display: inline; 
    width: 300px;
    height: 375px;
}

.profilePic-container {
    text-align: center;
    padding: 5%;
}

@media only screen and (max-width: 767px) {
    .profilePic-container {
        display: none;
    }
}

.activites-container {
    background-color:  #12211a;
    color: #ffffff;
}

.live-text {
    font-size: 12pt;
    color: rgb(207, 0, 0);
}

.activityImage{
    width: 265px;
    height: 330px;
    border-radius: 20px;
    padding-bottom: 5px;
}

.dropdown-menu{
    padding-bottom: 0 !important;
}

body {
    font: 20px "courier";
    color: #A9A9A9;
    background-color: #222222;
}
footer {
    background-color: #3182bd;
    padding: 10px;
    color: #ffffff;
}

title{
    background-color:LightGray;
    font-size: 15px;
}

.enjoyText{
    padding-top: 10px;
    font-size: 30px;
    margin-bottom: 30px;
}

.smallBotSpace{
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 14pt;
}
.TBspace{
    margin: 15px 0 15px 0;
}
.bottom_space{
    margin-bottom: 30px;
    font-size: 13pt;
}

.fam{
    display: inline;
    float: right;
    margin-top: 1%;
    padding: 0;
    border-bottom: 0;
}
a:hover{
    text-decoration: none;
    color: white;
}
a{
    color: #9d9d9d;
}
.dropdown-menu{
    background-color: #101010;
}
.dropdown-menu a{
    font-size: 16px;
    padding: 5px;
}
.hr{
    margin-bottom: 0;
    border-color: #222222;
}

.topSpace{
    margin-top: 10px;
}

#contentWord{
    font-weight: 700;
    color: #6cac93;
}

#hiddenContent{
    display: none;
}

#restartGame{
    display: none;
}